:root{
    --primary: #B9012F;
}

.btn{
    padding: 1.2rem 2rem;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #1E1E1D;
    border: none;
    transition: all 0.3s ease-out;
}

.btn-round{
    height:  5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #1E1E1D;
    border: none;
    transition: all 0.3s ease-out;
}

.btn-round-link{
    border: 1px solid #1E1E1D;
}

.btn:hover, .btn-round:hover{
    transition: al 0.3 ease-out;
    background: #1E1E1D;
    color: #FFF;
}

.btn--primary{
    background-color: var(--primary);
    color: #FFF;
}

.btn--tertairy{
    background-color: transparent;
    color: #1E1E1D;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease-out;
}

.btn--outline{
    background-color: transparent;
    color: #1E1E1D;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-medium{
    padding: 12px 20px;
    border-radius: 10rem;
    font-size: 1.8rem;
}

.btn-large{
    padding: 12px 26px;
    border-radius: 10rem;
    font-size: 2rem;
}

